@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-v26-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nunito-v26-cyrillic_latin-700.woff2') format('woff2');
}

html {
  box-sizing: border-box;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: Nunito, sans-serif;
  min-height: 100vh;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  line-height: 1.4;
  color: #221F1F;
}

.body--gift {
  background: #B2E8E8 url('../img/bg-gift.jpg') center/cover;
}

.body--congradulation {
  background: #FCC5BD url('../img/bg-congradulations.jpg') center/cover;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1240px;
}


/* header */

.header {
  padding: 40px 0;
}

.header__logo {
  display: block;
  max-width: 100%;
  height: auto;
}


/* gift */

.gift {
  padding: 20px 0 80px;
}

.gift__title {
  margin: 0 0 16px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.gift__description {
  margin: 0 0 50px;
  font-size: 20px;
}

.gift__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.gift__card {
  max-width: 580px;
}

.gift__swiper {

}

.gift__swiper--card {
  margin-bottom: 20px;
}

.gift__card-slide {
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #4baa00;
  overflow: hidden;
}

.gift__card-image {
  display: block;
  max-width: 100%;
  height: auto;
}


.gift__card-thumb {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.gift__form {
  max-width: 480px;
}


/* form */

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  justify-items: start;
}

.form__label {
  width: 100%;
} 

.form__label-text {
  margin-bottom: 4px;
  display: block;
}

.form__field {
  padding: 8px 16px;
  width: 100%;
  font: inherit;
  border-radius: 6px;
  border: 1px solid #DEDEDE;
  background-color: #FBFBFB;
  outline: none;
}

.form__field:hover,
.form__field:focus-visible,
.form__field:active {
  border-color: #999;
}

.form__label--textarea {
  grid-column: 1 / -1;
}

.form__field--textarea {
  min-height: 150px;
  resize: vertical;
}

.form__button {
  padding: 8px 24px;
  border: 1px solid transparent;
  border-radius: 32px;
  background-color: #4BAA00;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

.form__button:hover:not(:disabled) {
  background-color: #58C601;
}

.form__button:focus-visible {
  border-color: #58C601;
} 

.form__button:active:not(:disabled) {
  transform: translate(2px, 2px);
}

.form__button:disabled {
  opacity: 0.4;
}

/* congradulations */

